<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>instagram-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6979D0C21C5B32B200404D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6979D0D61C5B32B200404D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6979D0E11C5B32B200404D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
